name: Test building package and publish

on:
  push:
    branches:
      - main
      - maint/*
    tags:
      - "*"
  pull_request:
    branches:
      - main
      - maint/*
defaults:
  run:
    shell: bash
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: 3
      - run: pip install --upgrade build twine
      - name: Build sdist and wheel
        run: python -m build
      - run: twine check dist/*
      - name: Upload sdist and wheel artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist/
      - name: Build git archive
        run: mkdir archive && git archive -v -o archive/archive.tgz HEAD
      - name: Upload git archive artifact
        uses: actions/upload-artifact@v3
        with:
          name: archive
          path: archive/
  test-package:
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      matrix:
        package: ['wheel', 'sdist', 'archive', 'editable']
    env:
      DOWNLOAD_DIR: ${{ github.workspace }}/test_data
    steps:
      - name: Download sdist and wheel artifacts
        if: matrix.package != 'archive'
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist/
      - name: Download git archive artifact
        if: matrix.package == 'archive'
        uses: actions/download-artifact@v3
        with:
          name: archive
          path: archive/
      - name: Checkout repo
        if: matrix.package == 'editable'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Update pip
        run: pip install --upgrade pip
      - name: Install wheel
        if: matrix.package == 'wheel'
        run: pip install dist/*.whl
      - name: Install sdist
        if: matrix.package == 'sdist'
        run: pip install dist/*.tar.gz
      - name: Install archive
        if: matrix.package == 'archive'
        run: pip install archive/archive.tgz
      - name: Install editable
        if: matrix.package == 'editable'
        run: pip install -e .
      - name: Install test extras
        run: pip install trodes_to_nwb[test]
      - name: Download test rec files
        env:
          UCSF_BOX_TOKEN: ${{ secrets.UCSF_BOX_TOKEN }}
          UCSF_BOX_USER: ${{ secrets.UCSF_BOX_USER }}
          WEBSITE: ftps://ftp.box.com/trodes_to_nwb_test_data/
        run: |
          wget --recursive --no-verbose --no-host-directories --no-directories --user $UCSF_BOX_USER --password $UCSF_BOX_TOKEN -P $DOWNLOAD_DIR $WEBSITE
          tree $DOWNLOAD_DIR
      - name: Run tests without coverage
        if: matrix.package != 'editable'
        run: pytest --doctest-modules -v --pyargs trodes_to_nwb
      - name: Run tests with coverage
        if: matrix.package == 'editable'
        run: pytest --cov=src --cov-report=xml --doctest-modules -v --pyargs trodes_to_nwb
      - name: Upload coverage reports to Codecov
        if: matrix.package == 'editable'
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: [test-package]
    environment:
      name: pypi
      url: https://pypi.org/p/trodes-to-nwb
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist/
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
